<h1><%= @article.title %></h1>
<p><%= image_tag @article.image.url %></p>
<p><%= @article.body %></p>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<% if logged_in? %>
<%= link_to "Edit", edit_article_path(@article) %><br>
<%= link_to "Delete", article_path(@article), method: :delete %><br>
<% end %>
<%= link_to "Back to article list", articles_path %>
