<h1>All tags</h1>
<ul id="tags">
<% @tags.each do |tag| %>
<li>
	<%= link_to tag.name, tag_path(tag), class: 'tag_name' %>
	<%= link_to 'delete', tag_path(tag), method: :delete %>
	<%= link_to 'update', edit_tag_path(tag) %>
</li>
<% end %>
<%= link_to 'Back to articles', articles_path %>