$primary_color: #AAA;

body {
  background-image: url('http://starymur.pl/wp-content/uploads/2012/05/ceg%C5%82a-rozbi%C3%B3rkowa.jpg');
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #fff;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #AAA;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}





